/* stylelint-disable no-descending-specificity */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto+Slab&display=swap');

.nav {
  height: 5.875rem;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding-top: 1.813rem;
  border-bottom: solid 1px #e8e8e8;
  margin-bottom: 2.313rem;
}

.nav .nav-one {
  display: flex;
  width: 30.752rem;
  margin-left: 6.25rem;
}

.nav .nav-one h1 {
  width: 15rem;
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: bolder;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.nav .nav-one p {
  height: 1rem;
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.user-icon {
  width: 45.008px;
  height: 45.008px;
  border: solid 1px #e8e8e8;
  margin-right: 7.5rem;
  border-radius: 50%;
}

.icon {
  color: #0290ff;
  font-size: 1.063rem;
  margin-top: 14px;
  margin-left: 15px;
}

/* Book body */

.book-detail {
  box-sizing: border-box;
  width: 75rem;
  height: 10.625rem;
  margin-left: 6.25rem;
  margin-top: 0.938rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem 7.438rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
}

.book-detail .desc h4 {
  width: 7rem;
  height: 1.125rem;
  margin: 0 4rem 0 0;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.book-detail .desc h2 {
  width: 12.313rem;
  height: 1.813rem;
  margin: 0.188rem 20.188rem 0 0;
  font-family: 'Roboto Slab', serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.book-detail .desc p {
  width: 5.813rem;
  height: 1.188rem;
  margin: 0.25rem 0.875rem 0 0;
  font-family: 'Roboto Slab', serif;
  font-size: 0.868rem;
  font-weight: 300;
  color: #4386bf;
}

.book-detail .desc .links {
  display: flex;
  margin-top: 1.313rem;
}

.book-detail .desc .links p {
  width: 4.563rem;
  margin: 0.188rem 0.938rem 0.125rem 0;
}

.book-detail .desc .links p button {
  border: none;
  background-color: white;
  width: 3.375rem;
  height: 1.188rem;
  margin: -2px 0.938rem 0.125rem 0.875rem;
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.book-detail .desc .links .edit {
  margin: 0.188rem 18.625rem 0.125rem 1.063rem;
}

.book-detail .desc .links .comment::after {
  content: '';
  width: 0.125rem;
  height: 1.5rem;
  margin: 0.75rem 1.063rem 0 1.2rem;
  border: solid 1px #e8e8e8;
}

.book-detail .desc .links p button::after {
  content: '';
  width: 0.125rem;
  height: 1.5rem;
  margin: 0.75rem 1.063rem 0 1.2rem;
  border: solid 1px #e8e8e8;
}

.book-chapter h4 {
  width: 7.875rem;
  height: 1.125rem;
  margin: 0.063rem 3.625rem 0 3.688rem;
  opacity: 0.5;
  font-family: 'Roboto Slab', serif;
  font-size: 0.79rem;
  color: #121212;
}

.book-chapter p {
  width: 13.25rem;
  height: 1.313rem;
  margin: 0.438rem 6.813rem 0.25rem 3.688rem;
  font-family: 'Roboto Slab', serif;
  font-size: 0.9rem;
  letter-spacing: -0.4px;
}

.book-chapter button {
  width: 11.5rem;
  height: 2.063rem;
  margin: 0.75rem 1.75rem 0.563rem 3.688rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  background-color: #0290ff;
  border: none;
}

.book-form {
  width: 75rem;
  margin-top: 2.5rem;
  margin-left: 6.25rem;
  border-top: solid 1px #e8e8e8;
  margin-bottom: 16rem;
}

.book-form h4 {
  width: 10.875rem;
  height: 1.5rem;
  margin: 1.813rem 32.75rem 0 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  letter-spacing: -0.18px;
  color: #888;
}

.book-form form input {
  width: 41.5rem;
  height: 2.813rem;
  margin: 1.188rem 2.125rem 0 0;
  padding: 0.813rem 0 0.813rem 1.063rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
}

.book-form form select {
  width: 17.813rem;
  height: 2.813rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: white;
}

.book-form form button {
  width: 11.5rem;
  height: 2.813rem;
  margin: 1.188rem 0 0 2rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  box-sizing: border-box;
  border: none;
  background-color: #0290ff;
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}

.progress-bar {
  display: flex;
  justify-content: space-between;
  border-right: solid 1px #e8e8e8;
}

.outer-circle {
  width: 5.625rem;
  height: 5.625rem;
  margin-top: 0.38rem;
}

.circle-bar {
  margin: 0.75rem;
}

.progress-bar h4 {
  width: 2.938rem;
  height: 2.438rem;
  margin: 0.063rem 7.063rem 0 0.688rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  margin-top: 1rem;
}

.progress-bar p {
  width: 5rem;
  height: 1.125rem;
  margin: 0.438rem 4.938rem 0 0.75rem;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
}

::placeholder {
  width: 4.75rem;
  height: 1.188rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.15px;
  color: #c4c4c4;
}

@media screen and (max-width: 1001px) {
  .user-icon {
    margin-right: 0;
  }
}
